<div class="container-fluid content col-xs-8 col-md-10 col-md-offset-2 col-xs-offset-4">
  <div id="data">
  </div>
</div>

<div id="zamowienie" class="container-fluid col-xs-8 col-md-10 col-md-offset-2 col-xs-offset-4">
  <div id="lista" class="col-md-12">

  </div>
  <button id="kuchnia" class="btn btn-default"> Wyślij do kuchni </button>
</div>
