<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="/javascripts/products.js" type="text/javascript"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Foodish</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a data-toggle="modal" href="#PomocModal">Pomoc</a></li>
                <li><a data-toggle="modal" href="#oNasModal">O Nas</a></li>
                <li><a data-toggle="modal" onclick="status()" href="#StatusModal">Status</a></li>

            </ul>
        </div>
    </div>
</nav>
<nav id="sidebar" class="col-md-2 col-xs-4">
    <!-- Sidebar Links -->
    <div class="dishMenu col-md-12 btn-group-vertical" role="group">
        <button onclick="pizza()" class="btn btn-default">Pizza</button>
        <button onclick="miesa()" class="btn btn-default">Miesa</button>
        <button onclick="przystawki()" class="btn btn-default">Przystawki</button>
        <button onclick="zupy()" class="btn btn-default">Zupy</button>
        <button onclick="napoje()" class="btn btn-default">Napoje</button>
        <button onclick="surowki()" class="btn btn-default">Surówki</button>
        <button onclick="ryby()" class="btn btn-default">Ryby</button>
    </div>
</nav>

{{{body}}}
<div class="modal fade" id="oNasModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>O NAS</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default modalButton" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PomocModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>POMOC.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default modalButton" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="StatusModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Status zamówienia</h4>
            </div>
            <div id="statusBody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default modalButton" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>


</div>
</body>
</html>
