body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

.wrapper {
    display: flex;
}

#sidebar {
    position: fixed;
    left: 0;
    margin: 50px 0 0 0;
    background-color: #222;
    padding: 10px;
    height: 100vh;
}

.dishMenu {
    padding: 10px;
}

.content {
  margin: 50px 0 200px 250px;
  padding: 50px;
}

.productContainer {
  /*padding: 0!important;*/
  margin-bottom: 25px;
  float: left;
}

.productContainer img {
  width: 100%;
  height: auto;
  max-height: 300px;
  margin: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.productContainer a {
  display: block;
}

#product a {
  text-decoration: none;
  color: inherit;
}

@keyframes overlyOpacity{
  from {opacity: 0;}
  to {opacity: 0.8;}
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 15px;
  opacity: 0.65;
  animation-name: overlyOpacity;
  animation-duration: 0.5s;
  background-color: #222;
}

.textOverly {
  width: 85%;
  height: 100%;
  position: absolute;
  margin-top: 10px;
  top: 30%;
  left: 30%;
  transform: translate(-25%, -25%);
  -ms-transform: translate(-25%, -25%);
}

.textOverly span, .textOverly a {
  color: white;
}

.textOverly h2 {
  color: #c0c0c0;
}

.product-price {
  margin: 0 0 10% 0;
  position: absolute;
  float: left;
  width: 100%;
  bottom: 10%;
  color: #c0c0c0;
  font-size: 18px;
}

a.products-links {
  text-decoration: none;
  color: #c0c0c0;
}

a.products-links:hover {
  text-decoration: none;
  color: #414141
}

.btnZamow {
  float: right;
}

#zamowienie {
    position: fixed;
    bottom: 0;
    opacity: 0.8;
    background-color: #222;
    min-height: 200px;
    max-height: 250px;
    color: white;
}

#zamowienie #kuchnia {
  position: fixed;
  right: 10px;
  bottom: 10px;
}
